.InputField-container {
  display: flex;
  flex-direction: column;
  border: none;
  width: 100%;
}

.InputField-container p {
  margin: 0;
}

.InputField-container input {
  font-size: calc(10px + 2vmin);
  color: var(--primary-text);
}

.InputField-container--error input {
  border-color: red
}

.InputField-errorMessage {
  color: red;
}